body {
    background-color: #b156fe;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    height: 100vh;
}

.container {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}
img{
    align-content: center;
}

input,
label,
button {
    margin: 10px;
}

button {
    outline: none;
    background-color: #b156fe;
    color: white;
    /* border: none; */
    border-radius: 3px;
    padding: 5px;

}

button:hover {
    background-color: blueviolet;
}
